---
layout: default
---
<a href="https://github.com/zerocracy.github.io/issues">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"/>
</a>
<header>
  <nav>
    <ul>
      <li>
        <a href="/">
          <img src="//www.0crat.com/svg/logo.svg" class="logo" alt="Zerocracy logo"/>
        </a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a href="https://www.0crat.com/">Zerocrat</a>
      </li>
      <li>
        <a href="https://www.0crat.com/board">Board</a>
      </li>
      <li>
        <a href="https://www.0crat.com/team">Team</a>
      </li>
    </ul>
  </nav>
</header>
<article class="narrow">
  <h1>
    <span>{{ page.title }}</span>
  </h1>
  <div>{{ content }}</div>
</article>
<footer>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/zerocracy/">GitHub</a>
      </li>
      <li>
        <a href="https://t.me/joinchat/CLxAaQ0xp-g_3WWI3MBr2g">Telegram</a>
      </li>
      <li>
        <a href="https://twitter.com/0crat">Twitter</a>
      </li>
      <li>
        <a href="https://www.facebook.com/zerocracy/">Facebook</a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCxZAzmY_OPw40I1-YStWqhw">YouTube</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a href="/policy.html">Policy</a>
      </li>
      <li>
        <a href="/terms.html">Terms</a>
      </li>
    </ul>
  </nav>
</footer>
